body{
	background-color:333333;
}



.form{
	
	
	background: #333333;
	max-width: 360px;
	margin: 170px auto 100px;
	padding: 45px;
	text-align: center;	
}

.form input{
	font-family: "Roboto", sans-serif;
	outline: 1;
	background: #262626;
	color: #ffffff;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button{
	font-family: "Robot", sans-serif;
	outline: 0;
	background: #262626;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #eeeeee;
	font-size: 14px;
	cursor: pointer;
}

.form button:hover,.form button:active{
	background: #1a1a1a;
}
	
.botao{	
	text-decoration: none;
	color: white;
}

.form .mensagem{
	margin: 15px 0 0;
	color: aliceblue;
	font-size: 12px;
   

}

.form .mensagem a{
	color: #ffffff;
	text-decoration: none;
}

.form .register-form{
	display: none;
}


h1 {
	text-align: center;
	color: white;
}

#style {
	background-color: #000;
}







