
h1{
	text-align:center;
	color:white;

   }



#style {
	
	background-color:black;
	
	
}

footer{
  margin-top: 4rem;
  background: black;
  color: white;
  text-align: center;
  padding: 1.6rem;

}
